<!DOCTYPE html>
<html>
  <head>
    <title>Relay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <% unless notice.nil? %>
        <div class="alert alert-primary" role="alert">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% unless alert.nil? %>
        <div class="alert alert-danger" role="alert">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
